parameters:
	ignoreErrors:
		-
			message: "#^Method Phpactor\\\\FilePathResolverExtension\\\\FilePathResolverExtension\\:\\:registerPathResolver\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: lib/FilePathResolverExtension.php

		-
			message: "#^Method Phpactor\\\\FilePathResolverExtension\\\\FilePathResolverExtension\\:\\:registerFilters\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: lib/FilePathResolverExtension.php

